<h1 class="is-size-2 has-text-centered">Sign Up</h1>
<div>
    <h2 class="is-size-4 has-text-centered"> Create a new user account</h2>
</div>
<form method="post" action="/auth/signup">
    {{> authform}}
</form>