<div class="container">
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input class="input is-rounded" name="username" type="text" placeholder="Username">
        </div>
    </div>
    <div class="container">
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input is-rounded" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <input class="button is-primary" type="submit">
        <input class="button is-danger" type="reset">
    </div>